<img src="https://media.giphy.com/media/ToMjGplHPoYqSg7oACc/giphy.gif" alt="burger" width="480" height="480">
<h1>I only have eyes for burgers and fries</h1>

<h2>On the menu</h2>

<ol>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/devour_button devour=true}}
    {{/unless}}
  {{/each}}
</ol>

<h3>In my belly</h3>

<ol>
  {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}}
    </li>
    {{/if}}
  {{/each}}
</ol>

<h2>What's new on the menu?</h2>
<form class="new-burger">

  <div class="form-info">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>