<header>
  <img src="https://media.giphy.com/media/ToMjGplHPoYqSg7oACc/giphy.gif" alt="burger" width="200" height="200">
  <h1>I only have eyes for burgers and fries</h1>
</header>

<main>
  <section>
    <h2>On the menu</h2>
    <div id="menu">
      <div id="menu-list">
      <ol>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/devour_button devour=true}}
          {{/unless}}
        {{/each}}
      </ol>
      </div>
    </div> 
  </section>

<aside>
  <h3>In my belly</h3>
    <ol>
      {{#each burgers}}
        {{#if devoured}}
        <li>
            {{burger_name}}
        </li>
        {{/if}}
      {{/each}}
    </ol>
  </aside>
</main>

<footer>
  <h4 id="add-title">What's new on the menu?</h4>
  <form class="new-burger">

    <div class="form-info">
      <label for="burger">Burger Name:</label>
      <input type="text" id="burger" name="burger_name">
    </div>

    <button id="add-burger" type="submit">Add Burger</button>
    <audio id="audio" src="http://dev.interactive-creation-works.net/1/1.ogg"></audio>
  </form>
</footer>