html {
    margin: -10px;
}

header {
    background-color: var(--clr-primary);
    padding: .5em;
    box-shadow: 0px 4px 13px var(--clr-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --ff-primary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --ff-secondary: cursive;

    --clr-light: rgb(208, 208, 208);
    --clr-dark: #303030;
    --clr-grey: #858585;
    --clr-primary: rgb(255, 123, 35);
    --clr-accent: #f7f8b9;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin-top: .85em;
    background: url(background.jpg);
}

section {
    margin-right: 3em;
}

aside {
    margin-right: 3em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 1.75em;
    -webkit-text-stroke: .25px rgb(251, 236, 72);
    font-family:'Lily Script One', cursive;; 
    margin-top: -.5px;
    color: var(--clr-accent);
    border: var(--clr-light);
    border-radius: 1em;
    border-style: ridge;
    width: 50%;
}

h2,h3, h4 {
    font-size: 1.5em;
    font-family: var(--ff-primary);
    text-align: center;
}

#add-title, .new-burger {
    text-align: center;
}

label, button {
    font-family: var(--ff-primary);
}

/* On the Menu section */
.devour-button {
    margin-block-start: 1em;
    margin-left: 1em;
    cursor: url(fork.png), auto;
}

#menu {
    background: url(notepad.png);
    background-size: 20em;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4.5em 2.1em 6em 2em;
    margin-top: -3em;
}

#menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-family: var(--ff-secondary);
    margin-top: -10px;
    font-size: 1em;
}

/* In my belly section */
#belly {
    background-color: var(--clr-grey);
    background-size: 20em;
    background-position: center;
    padding: 4.5em 2.1em 6em 2em;
    /* margin-top: -0.5em; */
    border: var(--clr-dark);
    border-radius: 1em;
    border-style: ridge;
    box-shadow: 5px 5px 16px var(--clr-dark);
}

#belly-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#belly-list li {
    color: white;
}

/* Footer section section */
footer {
    background-color: var(--clr-light);
    box-shadow: 0px 2px 13px var(--clr-dark);
    padding-bottom: 4em;
    padding-top: .5px;
}

#burger {
    font-family: var(--ff-secondary);
    background-color: var(--clr-accent);
    cursor: url(pencil.png), auto;
    width: 12.5em;
    height: 2.5em;
}

#add-burger {
    margin-top: 1em;
}